target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo

### Java ###
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

### OS ###
.DS_Store
Thumbs.db
